<ng-container *ngIf="tournament else loading">
  <div class="tournament-tasks">
    <a *ngFor="let task of tournament.task_set" [routerLink]="['/tournaments', tournament.id, 'tasks', task.id]" class="task-item">
      {{ task.title }}
    </a>
  </div>
  <div class="submit-wrapper">
    <div class="task-wrapper">
      <h3>{{ task.title }}</h3>
      <div [innerHTML]="task.description"></div>
    </div>
    <div class="editor-wrapper">
      <app-code-editor></app-code-editor>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  ...Loading
</ng-template>
